<%layout("/layouts/boilerplate") %>
<body>
    <form method="POST" action="/listings">
    <input type="text" name="listing[title]" placeholder="enter title">
    <br>
    <textarea type="text" name="listing[description]" placeholder="enter description" cols="30" rows="10"></textarea>
     <br>
     <input type="number" name="listing[price]" placeholder="enter price">
     <br>
     <input type="text" name="listing[location]" placeholder="enter location">
     <br>
     <input type="text" name="listing[city]" placeholder="enter city">
     <br>
     <button>ADD</button>
    </form>
</body>
